
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.one{
	background-color:green;
	width:100px;
	height:100px;
	font-size:50px;
}
.two{
	background-color:red;
	width:100px;
	height:100px;
	font-size:50px;
}
.three{
	background-color:blue;
	width:100px;
	height:100px;
	font-size:50px;
}